In [178]:
import pandas as pd

input_file_name = "../datasets/ID_data_mass_18122012.xlsx"
output_file_name = "../datasets/ID_data_mass_18122012_cleared.xlsx"

### Check dataframe

In [179]:
df = pd.read_excel(input_file_name, sheet_name='VU')
header = df.columns.to_numpy()
print(header)
df

['Unnamed: 0' 'Unnamed: 1' 'Unnamed: 2' 'Unnamed: 3'
 'осредненные параметры' 'Unnamed: 5' 'Unnamed: 6' 'На конец режима'
 'Unnamed: 8' 'Unnamed: 9' 'Unnamed: 10' 'Unnamed: 11' 'Unnamed: 12'
 'Unnamed: 13' 'Стандартные условия' 'Unnamed: 15' 'Unnamed: 16'
 'Unnamed: 17' 'Линейные условия' 'Unnamed: 19' 'Unnamed: 20'
 'Unnamed: 21' 'Unnamed: 22' 'Unnamed: 23' 'Unnamed: 24' 'Unnamed: 25'
 'Unnamed: 26' 'Unnamed: 27' 'Unnamed: 28' 'Unnamed: 29' 'Unnamed: 30'
 'Unnamed: 31' 'Unnamed: 32' 'Unnamed: 33']

C:\Python\Lib\site-packages\openpyxl\worksheet\_reader.py:329: UserWarning: Conditional Formatting extension is not supported and will be removed
  warn(msg)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,осредненные параметры,Unnamed: 5,Unnamed: 6,На конец режима,Unnamed: 8,Unnamed: 9,...,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33
0,NaN,NaN,Глубина манометра,Dшт,Руст,Рзаб,Pлин,Руст,Рзаб,Рлин,...,Рпл. Тек (Карноухов),Pсб,Pсб,Ro_g,Ro_c,Ro_w,Удельная плотность газа,G_total,КГФ,КГФ
1,№,дд.мм.гггг,м,мм,бара,бара,бара,бар,бар,бар,...,МПа,атм,бар,кг/м3,кг/м3,кг/м3,б/р,кг/с,г/м3,т/тыс.м3
2,804,2008-06-05 00:00:00,3576.3,7.94,249.6,370.1,101.8,249,359.6,101.8,...,-,93.6,92.376018,0.806017,801,1000,0.669449,2.782623,311.9094,NaN
3,804,2008-06-06 00:00:00,3576.3,9.53,233.5,364.6,101.3,231,338.1,102.4,...,-,92.9,91.685171,0.806017,801,1000,0.669449,3.697781,288.6003,NaN
4,804,2008-06-07 00:00:00,3576.3,11.11,213.4,357.1,101.6,211,314.8,100.6,...,-,91.4,90.204787,0.806017,801,1000,0.669449,4.515073,248.7906,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
182,22505,2009-09-23 00:00:00,3678,12.7,182.2,271.586,93.255111,179,258.6,92.702141,...,60.8,89.7,88.527017,NaN,NaN,NaN,NaN,NaN,NaN,NaN
183,22505,2009-09-27 00:00:00,3678,14.29,157,249.076,96.472143,153,233.5,100.060417,...,60.8,87.3,86.158401,NaN,NaN,NaN,NaN,NaN,NaN,NaN
184,22505,2010-04-09 00:00:00,3679.5,7.94,211.9,289.3877,91.131226,208,289.6,91.304642,...,61.3,88.2,87.046632,NaN,NaN,NaN,NaN,NaN,NaN,NaN
185,22505,2010-04-14 00:00:00,3679.5,9.53,204,282.8709,91.173008,201,275.3,91.616821,...,61.3,88.5,87.342709,NaN,NaN,NaN,NaN,NaN,NaN,NaN
186,22505,2010-04-17 00:00:00,3679.5,11.11,187.5,267.4787,91.530262,184,255,89.507935,...,61.3,89.8,88.625709,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Setting up correct header

In [180]:
### setting name to two dropped columns
dropped_columns = ['номер', 'дата']
df.iloc[0,0] = dropped_columns[0]
df.iloc[0,1] = dropped_columns[1]

### setting header as 1'st row
df.columns = df.iloc[0]
df

,номер,дата,Глубина манометра,Dшт,Руст,Рзаб,Pлин,Руст,Рзаб,Рлин,...,Рпл. Тек (Карноухов),Pсб,Pсб,Ro_g,Ro_c,Ro_w,Удельная плотность газа,G_total,КГФ,КГФ
0,номер,дата,Глубина манометра,Dшт,Руст,Рзаб,Pлин,Руст,Рзаб,Рлин,...,Рпл. Тек (Карноухов),Pсб,Pсб,Ro_g,Ro_c,Ro_w,Удельная плотность газа,G_total,КГФ,КГФ
1,№,дд.мм.гггг,м,мм,бара,бара,бара,бар,бар,бар,...,МПа,атм,бар,кг/м3,кг/м3,кг/м3,б/р,кг/с,г/м3,т/тыс.м3
2,804,2008-06-05 00:00:00,3576.3,7.94,249.6,370.1,101.8,249,359.6,101.8,...,-,93.6,92.376018,0.806017,801,1000,0.669449,2.782623,311.9094,NaN
3,804,2008-06-06 00:00:00,3576.3,9.53,233.5,364.6,101.3,231,338.1,102.4,...,-,92.9,91.685171,0.806017,801,1000,0.669449,3.697781,288.6003,NaN
4,804,2008-06-07 00:00:00,3576.3,11.11,213.4,357.1,101.6,211,314.8,100.6,...,-,91.4,90.204787,0.806017,801,1000,0.669449,4.515073,248.7906,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
182,22505,2009-09-23 00:00:00,3678,12.7,182.2,271.586,93.255111,179,258.6,92.702141,...,60.8,89.7,88.527017,NaN,NaN,NaN,NaN,NaN,NaN,NaN
183,22505,2009-09-27 00:00:00,3678,14.29,157,249.076,96.472143,153,233.5,100.060417,...,60.8,87.3,86.158401,NaN,NaN,NaN,NaN,NaN,NaN,NaN
184,22505,2010-04-09 00:00:00,3679.5,7.94,211.9,289.3877,91.131226,208,289.6,91.304642,...,61.3,88.2,87.046632,NaN,NaN,NaN,NaN,NaN,NaN,NaN
185,22505,2010-04-14 00:00:00,3679.5,9.53,204,282.8709,91.173008,201,275.3,91.616821,...,61.3,88.5,87.342709,NaN,NaN,NaN,NaN,NaN,NaN,NaN
186,22505,2010-04-17 00:00:00,3679.5,11.11,187.5,267.4787,91.530262,184,255,89.507935,...,61.3,89.8,88.625709,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [181]:
### drop redundant rows
df.drop(0, inplace=True)
df.drop(1, inplace=True)
df

,номер,дата,Глубина манометра,Dшт,Руст,Рзаб,Pлин,Руст,Рзаб,Рлин,...,Рпл. Тек (Карноухов),Pсб,Pсб,Ro_g,Ro_c,Ro_w,Удельная плотность газа,G_total,КГФ,КГФ
2,804,2008-06-05 00:00:00,3576.3,7.94,249.6,370.1,101.8,249,359.6,101.8,...,-,93.6,92.376018,0.806017,801,1000,0.669449,2.782623,311.9094,NaN
3,804,2008-06-06 00:00:00,3576.3,9.53,233.5,364.6,101.3,231,338.1,102.4,...,-,92.9,91.685171,0.806017,801,1000,0.669449,3.697781,288.6003,NaN
4,804,2008-06-07 00:00:00,3576.3,11.11,213.4,357.1,101.6,211,314.8,100.6,...,-,91.4,90.204787,0.806017,801,1000,0.669449,4.515073,248.7906,NaN
5,804,2008-06-08 00:00:00,3576.3,12.7,191.6,347.4,98.4,187,291.5,99,...,-,89.2,88.033555,0.806017,801,1000,0.669449,5.217673,223.5591,NaN
6,804,2008-06-09 00:00:00,3576.3,14.29,171.9,337.7,99.2,169,270.3,99.5,...,-,89.7,88.527017,0.806017,801,1000,0.669449,5.765092,215.1486,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
182,22505,2009-09-23 00:00:00,3678,12.7,182.2,271.586,93.255111,179,258.6,92.702141,...,60.8,89.7,88.527017,NaN,NaN,NaN,NaN,NaN,NaN,NaN
183,22505,2009-09-27 00:00:00,3678,14.29,157,249.076,96.472143,153,233.5,100.060417,...,60.8,87.3,86.158401,NaN,NaN,NaN,NaN,NaN,NaN,NaN
184,22505,2010-04-09 00:00:00,3679.5,7.94,211.9,289.3877,91.131226,208,289.6,91.304642,...,61.3,88.2,87.046632,NaN,NaN,NaN,NaN,NaN,NaN,NaN
185,22505,2010-04-14 00:00:00,3679.5,9.53,204,282.8709,91.173008,201,275.3,91.616821,...,61.3,88.5,87.342709,NaN,NaN,NaN,NaN,NaN,NaN,NaN
186,22505,2010-04-17 00:00:00,3679.5,11.11,187.5,267.4787,91.530262,184,255,89.507935,...,61.3,89.8,88.625709,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [182]:
# update index
df.reset_index(drop=True)
df

,номер,дата,Глубина манометра,Dшт,Руст,Рзаб,Pлин,Руст,Рзаб,Рлин,...,Рпл. Тек (Карноухов),Pсб,Pсб,Ro_g,Ro_c,Ro_w,Удельная плотность газа,G_total,КГФ,КГФ
2,804,2008-06-05 00:00:00,3576.3,7.94,249.6,370.1,101.8,249,359.6,101.8,...,-,93.6,92.376018,0.806017,801,1000,0.669449,2.782623,311.9094,NaN
3,804,2008-06-06 00:00:00,3576.3,9.53,233.5,364.6,101.3,231,338.1,102.4,...,-,92.9,91.685171,0.806017,801,1000,0.669449,3.697781,288.6003,NaN
4,804,2008-06-07 00:00:00,3576.3,11.11,213.4,357.1,101.6,211,314.8,100.6,...,-,91.4,90.204787,0.806017,801,1000,0.669449,4.515073,248.7906,NaN
5,804,2008-06-08 00:00:00,3576.3,12.7,191.6,347.4,98.4,187,291.5,99,...,-,89.2,88.033555,0.806017,801,1000,0.669449,5.217673,223.5591,NaN
6,804,2008-06-09 00:00:00,3576.3,14.29,171.9,337.7,99.2,169,270.3,99.5,...,-,89.7,88.527017,0.806017,801,1000,0.669449,5.765092,215.1486,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
182,22505,2009-09-23 00:00:00,3678,12.7,182.2,271.586,93.255111,179,258.6,92.702141,...,60.8,89.7,88.527017,NaN,NaN,NaN,NaN,NaN,NaN,NaN
183,22505,2009-09-27 00:00:00,3678,14.29,157,249.076,96.472143,153,233.5,100.060417,...,60.8,87.3,86.158401,NaN,NaN,NaN,NaN,NaN,NaN,NaN
184,22505,2010-04-09 00:00:00,3679.5,7.94,211.9,289.3877,91.131226,208,289.6,91.304642,...,61.3,88.2,87.046632,NaN,NaN,NaN,NaN,NaN,NaN,NaN
185,22505,2010-04-14 00:00:00,3679.5,9.53,204,282.8709,91.173008,201,275.3,91.616821,...,61.3,88.5,87.342709,NaN,NaN,NaN,NaN,NaN,NaN,NaN
186,22505,2010-04-17 00:00:00,3679.5,11.11,187.5,267.4787,91.530262,184,255,89.507935,...,61.3,89.8,88.625709,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Replace '-' on Nan

In [183]:
def replace_skip(string: str):
    if string == '-':
        return float('nan')
    else:
        return string

df = df.applymap(replace_skip)
df

,номер,дата,Глубина манометра,Dшт,Руст,Рзаб,Pлин,Руст,Рзаб,Рлин,...,Рпл. Тек (Карноухов),Pсб,Pсб,Ro_g,Ro_c,Ro_w,Удельная плотность газа,G_total,КГФ,КГФ
2,804,2008-06-05,3576.3,7.94,249.6,370.1000,101.800000,249.0,359.6,101.800000,...,NaN,93.6,92.376018,0.806017,801.0,1000.0,0.669449,2.782623,311.9094,NaN
3,804,2008-06-06,3576.3,9.53,233.5,364.6000,101.300000,231.0,338.1,102.400000,...,NaN,92.9,91.685171,0.806017,801.0,1000.0,0.669449,3.697781,288.6003,NaN
4,804,2008-06-07,3576.3,11.11,213.4,357.1000,101.600000,211.0,314.8,100.600000,...,NaN,91.4,90.204787,0.806017,801.0,1000.0,0.669449,4.515073,248.7906,NaN
5,804,2008-06-08,3576.3,12.70,191.6,347.4000,98.400000,187.0,291.5,99.000000,...,NaN,89.2,88.033555,0.806017,801.0,1000.0,0.669449,5.217673,223.5591,NaN
6,804,2008-06-09,3576.3,14.29,171.9,337.7000,99.200000,169.0,270.3,99.500000,...,NaN,89.7,88.527017,0.806017,801.0,1000.0,0.669449,5.765092,215.1486,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
182,22505,2009-09-23,3678,12.70,182.2,271.5860,93.255111,179.0,258.6,92.702141,...,60.8,89.7,88.527017,NaN,NaN,NaN,NaN,NaN,NaN,NaN
183,22505,2009-09-27,3678,14.29,157.0,249.0760,96.472143,153.0,233.5,100.060417,...,60.8,87.3,86.158401,NaN,NaN,NaN,NaN,NaN,NaN,NaN
184,22505,2010-04-09,3679.5,7.94,211.9,289.3877,91.131226,208.0,289.6,91.304642,...,61.3,88.2,87.046632,NaN,NaN,NaN,NaN,NaN,NaN,NaN
185,22505,2010-04-14,3679.5,9.53,204.0,282.8709,91.173008,201.0,275.3,91.616821,...,61.3,88.5,87.342709,NaN,NaN,NaN,NaN,NaN,NaN,NaN
186,22505,2010-04-17,3679.5,11.11,187.5,267.4787,91.530262,184.0,255.0,89.507935,...,61.3,89.8,88.625709,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Concatenate two 'КГФ' attributes

In [184]:
### rename one 'КГФ' column
attribute_count = len(df.columns)
df.columns.values[attribute_count-2] = 'КГФ_'
df

,номер,дата,Глубина манометра,Dшт,Руст,Рзаб,Pлин,Руст,Рзаб,Рлин,...,Рпл. Тек (Карноухов),Pсб,Pсб,Ro_g,Ro_c,Ro_w,Удельная плотность газа,G_total,КГФ_,КГФ
2,804,2008-06-05,3576.3,7.94,249.6,370.1000,101.800000,249.0,359.6,101.800000,...,NaN,93.6,92.376018,0.806017,801.0,1000.0,0.669449,2.782623,311.9094,NaN
3,804,2008-06-06,3576.3,9.53,233.5,364.6000,101.300000,231.0,338.1,102.400000,...,NaN,92.9,91.685171,0.806017,801.0,1000.0,0.669449,3.697781,288.6003,NaN
4,804,2008-06-07,3576.3,11.11,213.4,357.1000,101.600000,211.0,314.8,100.600000,...,NaN,91.4,90.204787,0.806017,801.0,1000.0,0.669449,4.515073,248.7906,NaN
5,804,2008-06-08,3576.3,12.70,191.6,347.4000,98.400000,187.0,291.5,99.000000,...,NaN,89.2,88.033555,0.806017,801.0,1000.0,0.669449,5.217673,223.5591,NaN
6,804,2008-06-09,3576.3,14.29,171.9,337.7000,99.200000,169.0,270.3,99.500000,...,NaN,89.7,88.527017,0.806017,801.0,1000.0,0.669449,5.765092,215.1486,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
182,22505,2009-09-23,3678,12.70,182.2,271.5860,93.255111,179.0,258.6,92.702141,...,60.8,89.7,88.527017,NaN,NaN,NaN,NaN,NaN,NaN,NaN
183,22505,2009-09-27,3678,14.29,157.0,249.0760,96.472143,153.0,233.5,100.060417,...,60.8,87.3,86.158401,NaN,NaN,NaN,NaN,NaN,NaN,NaN
184,22505,2010-04-09,3679.5,7.94,211.9,289.3877,91.131226,208.0,289.6,91.304642,...,61.3,88.2,87.046632,NaN,NaN,NaN,NaN,NaN,NaN,NaN
185,22505,2010-04-14,3679.5,9.53,204.0,282.8709,91.173008,201.0,275.3,91.616821,...,61.3,88.5,87.342709,NaN,NaN,NaN,NaN,NaN,NaN,NaN
186,22505,2010-04-17,3679.5,11.11,187.5,267.4787,91.530262,184.0,255.0,89.507935,...,61.3,89.8,88.625709,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [185]:
### divide 'КГФ_' on 1000 to be the same dimention as 'КГФ'
df['КГФ_'] = df['КГФ_'].apply(lambda x: x / 1000)
df

,номер,дата,Глубина манометра,Dшт,Руст,Рзаб,Pлин,Руст,Рзаб,Рлин,...,Рпл. Тек (Карноухов),Pсб,Pсб,Ro_g,Ro_c,Ro_w,Удельная плотность газа,G_total,КГФ_,КГФ
2,804,2008-06-05,3576.3,7.94,249.6,370.1000,101.800000,249.0,359.6,101.800000,...,NaN,93.6,92.376018,0.806017,801.0,1000.0,0.669449,2.782623,0.311909,NaN
3,804,2008-06-06,3576.3,9.53,233.5,364.6000,101.300000,231.0,338.1,102.400000,...,NaN,92.9,91.685171,0.806017,801.0,1000.0,0.669449,3.697781,0.288600,NaN
4,804,2008-06-07,3576.3,11.11,213.4,357.1000,101.600000,211.0,314.8,100.600000,...,NaN,91.4,90.204787,0.806017,801.0,1000.0,0.669449,4.515073,0.248791,NaN
5,804,2008-06-08,3576.3,12.70,191.6,347.4000,98.400000,187.0,291.5,99.000000,...,NaN,89.2,88.033555,0.806017,801.0,1000.0,0.669449,5.217673,0.223559,NaN
6,804,2008-06-09,3576.3,14.29,171.9,337.7000,99.200000,169.0,270.3,99.500000,...,NaN,89.7,88.527017,0.806017,801.0,1000.0,0.669449,5.765092,0.215149,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
182,22505,2009-09-23,3678,12.70,182.2,271.5860,93.255111,179.0,258.6,92.702141,...,60.8,89.7,88.527017,NaN,NaN,NaN,NaN,NaN,NaN,NaN
183,22505,2009-09-27,3678,14.29,157.0,249.0760,96.472143,153.0,233.5,100.060417,...,60.8,87.3,86.158401,NaN,NaN,NaN,NaN,NaN,NaN,NaN
184,22505,2010-04-09,3679.5,7.94,211.9,289.3877,91.131226,208.0,289.6,91.304642,...,61.3,88.2,87.046632,NaN,NaN,NaN,NaN,NaN,NaN,NaN
185,22505,2010-04-14,3679.5,9.53,204.0,282.8709,91.173008,201.0,275.3,91.616821,...,61.3,88.5,87.342709,NaN,NaN,NaN,NaN,NaN,NaN,NaN
186,22505,2010-04-17,3679.5,11.11,187.5,267.4787,91.530262,184.0,255.0,89.507935,...,61.3,89.8,88.625709,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [186]:
### removes column 'КГФ_' summarize it with 'КГФ' previously
def sum_columns(dataframe, src_col_name, dst_col_name):
    dataframe[dst_col_name] = dataframe[src_col_name].fillna(0) + \
                              dataframe[dst_col_name].fillna(0)
    ### fill nan back (there were no zeroes before)
    dataframe[dst_col_name] = dataframe[dst_col_name].apply(lambda x: float('nan') if x == 0 else x)
    dataframe.drop(columns=[src_col_name], axis=1, inplace=True)

sum_columns(df, 'КГФ_', 'КГФ')
df

,номер,дата,Глубина манометра,Dшт,Руст,Рзаб,Pлин,Руст,Рзаб,Рлин,...,Рпл. Тек (Расчет по КВД),Рпл. Тек (Карноухов),Pсб,Pсб,Ro_g,Ro_c,Ro_w,Удельная плотность газа,G_total,КГФ
2,804,2008-06-05,3576.3,7.94,249.6,370.1000,101.800000,249.0,359.6,101.800000,...,56.5,NaN,93.6,92.376018,0.806017,801.0,1000.0,0.669449,2.782623,0.311909
3,804,2008-06-06,3576.3,9.53,233.5,364.6000,101.300000,231.0,338.1,102.400000,...,56.5,NaN,92.9,91.685171,0.806017,801.0,1000.0,0.669449,3.697781,0.288600
4,804,2008-06-07,3576.3,11.11,213.4,357.1000,101.600000,211.0,314.8,100.600000,...,56.5,NaN,91.4,90.204787,0.806017,801.0,1000.0,0.669449,4.515073,0.248791
5,804,2008-06-08,3576.3,12.70,191.6,347.4000,98.400000,187.0,291.5,99.000000,...,56.5,NaN,89.2,88.033555,0.806017,801.0,1000.0,0.669449,5.217673,0.223559
6,804,2008-06-09,3576.3,14.29,171.9,337.7000,99.200000,169.0,270.3,99.500000,...,56.5,NaN,89.7,88.527017,0.806017,801.0,1000.0,0.669449,5.765092,0.215149
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
182,22505,2009-09-23,3678,12.70,182.2,271.5860,93.255111,179.0,258.6,92.702141,...,60.9,60.8,89.7,88.527017,NaN,NaN,NaN,NaN,NaN,NaN
183,22505,2009-09-27,3678,14.29,157.0,249.0760,96.472143,153.0,233.5,100.060417,...,60.9,60.8,87.3,86.158401,NaN,NaN,NaN,NaN,NaN,NaN
184,22505,2010-04-09,3679.5,7.94,211.9,289.3877,91.131226,208.0,289.6,91.304642,...,64.1,61.3,88.2,87.046632,NaN,NaN,NaN,NaN,NaN,NaN
185,22505,2010-04-14,3679.5,9.53,204.0,282.8709,91.173008,201.0,275.3,91.616821,...,64.1,61.3,88.5,87.342709,NaN,NaN,NaN,NaN,NaN,NaN
186,22505,2010-04-17,3679.5,11.11,187.5,267.4787,91.530262,184.0,255.0,89.507935,...,64.1,61.3,89.8,88.625709,NaN,NaN,NaN,NaN,NaN,NaN

### Check type of attributes

In [187]:
df_types = df.dtypes
df_types

0
номер                                      int64
дата                              datetime64[ns]
Глубина манометра                         object
Dшт                                      float64
Руст                                     float64
Рзаб                                     float64
Pлин                                     float64
Руст                                     float64
Рзаб                                     float64
Рлин                                     float64
Туст                                     float64
Тна шлейфе                                object
Тзаб                                     float64
Tлин                                     float64
Дебит газа                               float64
Дебит ст. конд.                          float64
Дебит воды                               float64
Дебит смеси                              float64
Дебит гааз                               float64
Дебит кон нестабильный                   float64
Дебит воды                               float64
Нэф                                      float64
Рпл. Тек (послед точка на КВД)           float64
Рпл. Тек (Расчет по КВД)                 float64
Рпл. Тек (Карноухов)                     float64
Pсб                                      float64
Pсб                                      float64
Ro_g                                     float64
Ro_c                                     float64
Ro_w                                     float64
Удельная плотность газа                  float64
G_total                                  float64
КГФ                                      float64
dtype: object

In [188]:
dict_df = df.to_dict(orient='list')
attributes = dict_df.keys()

print(dict_df.keys())
print("attribute count=" + str(len(attributes)))
print(dict_df['Tлин'])

dict_keys(['номер', 'дата', 'Глубина манометра', 'Dшт', 'Руст', 'Рзаб', 'Pлин', 'Рлин', 'Туст', 'Тна шлейфе', 'Тзаб', 'Tлин', 'Дебит газа', 'Дебит ст. конд.', 'Дебит воды', 'Дебит смеси', 'Дебит гааз', 'Дебит кон нестабильный', 'Нэф', 'Рпл. Тек (послед точка на КВД)', 'Рпл. Тек (Расчет по КВД)', 'Рпл. Тек (Карноухов)', 'Pсб', 'Ro_g', 'Ro_c', 'Ro_w', 'Удельная плотность газа ', 'G_total', 'КГФ'])
attribute count=29
[32.5, 38.6, 43.4, 46.1, 49.9, 38.979712100139054, nan, nan, nan, nan, 32.99727530364374, 39.06092099792096, 44.89659213759216, 49.839871848739456, 28.092309506263728, 35.09973359580054, 41.11381596188213, 44.143173224322894, 49.75384527518173, 37.79177942212822, 16.204686069651743, 22.031063511830656, 35.40620060331823, 33.82577935483872, 37.26220177383591, 31.994166361974468, 24.80197549019607, 31.17772258064514, 40.51194043321302, 51.37921987951809, 52.76279816513765, 55.513903795233944, 53.125238833181484, 44.88405024311182, 42.44033954619124, 49.17873581710411, 52.22178972935467, 26.5, 38.5, 45.0, 48.2, 33.2, 39.0, 43.3, 47.8, 51.2, 48.2, 37.535415296640444, 26.2704474751067, 38.187472286541265, 48.906679693617036, 52.25843784277882, 25.939782731112167, 33.67069549486457, 40.77627542404476, 44.92587537132181, 50.9079042287858, 21.712269228687425, 35.59865918367348, 41.55618932155472, 46.82961309778736, 49.950134624277375, 29.407191398379993, 35.88838914962048, 40.90340674947371, 45.13802802642314, 35.29383749999997, 40.51949056603775, 48.36874392782796, 21.68210501193317, 30.095861538461534, 44.03527688172044, 48.57650432276657, 51.965131233595756, 28.252343489780408, 36.2264734569629, 42.18526214750542, 46.532798405081095, 50.65454920590304, 47.88539865996652, 22.445078239608808, 36.26904651162794, 42.71885670731711, 47.98646892655367, 26.43987327188939, 33.68865328467154, 39.666828178694175, 44.07239171974519, 48.17109016393446, 26.721264920388606, 34.300860082354944, 40.213197539448224, 44.739639307486506, 48.14262399617571, 33.5142857847976, 39.28579113018597, 42.913789702233274, 46.71543250539952, 45.94230811936156, 16.817760028188875, 27.42533771343727, 33.97761949927431, 39.50795709025268, 42.889363910301356, 21.558205663366316, 27.582029627059832, 34.280063040345865, 38.83960782577906, 42.075778045325784, nan, nan, nan, 35.03141536842104, 28.823648566037743, 34.60066817829457, 30.676942627450988, 24.319080287610614, 37.07430003060443, 43.7389906056018, 48.82547114443568, 52.56820123401053, 26.470533738425914, 36.03139318551372, 42.68608718589273, 47.70889010660982, 51.94422598992091, 25.195124855252303, 32.47125546528803, 38.90015349134002, 44.62660154239767, 48.34321502865334, 31.5, 38.3, 42.9, 47.5, 32.4711701388889, 23.662576068376058, 36.558231499051224, 42.63247780126855, 48.01590528634359, 50.5755373765868, 25.9, 28.5, 36.3, 41.0, 46.2, 49.7, 25.94277793199168, 25.80761152882207, 26.23892374702136, 25.9, 40.1, 46.1, 50.5, 54.0, 30.4, 37.5, 43.7, 47.9, 52.1, 27.2, 35.7, 42.5, 46.3, 50.5, 28.1, 41.3, 36.16154737938216, 24.15616203867847, 36.77411065134103, 42.8143000142654, 47.76626674680694, 51.14760070921981, 21.98896623095826, 29.489079671193707, 36.95314233357711, 46.00891623413251, 23.289476115019067, 30.779152722499195, 37.69498104426164, 41.83273067661524, 47.71535749833721, 24.84165043077352, 31.580439797721507, 37.478663672060556]

C:\Users\Andrey\AppData\Local\Temp\ipykernel_9500\1100767537.py:1: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  dict_df = df.to_dict(orient='list')

In [189]:
object_attributes = df.select_dtypes(include='object').columns.to_list()
object_attributes

['Глубина манометра', 'Тна шлейфе']

In [190]:
### check object attribute values
print(dict_df[object_attributes[1]])

[31.7, 37.6, 42.8, 46.2, 49.4, 38.8, nan, nan, nan, nan, nan, nan, nan, nan, 27.2, 34.6, 41.2, 43.7, 49.2, 37.4, 14, 21, 35, 34, 38, nan, nan, 90.3, 95.5, 103.6, 106.8, 110.2, nan, nan, 32, 36, nan, nan, nan, nan, nan, 33, 38.5, 42.9, 47.9, 51, nan, nan, 26, 37.9, 48.6, 52, 25.6, 33.4, 40.7, 45, 50.7, 22, 35, 41, 48, 50, 29, 35.8, 40.9, 45.2, 34.3, 38.5, nan, 22.6, 29.4, 43.3, 46.5, 51.9, 28.1, 35.7, 41.9, 46.4, 50.7, 47.7, nan, nan, nan, nan, 26.1, 33.4, 39.2, 43.7, 47.8, 26.6, 34.3, '40,1,', 44.8, 48.1, 32.4, 38.6, 42.7, 46.9, nan, nan, nan, nan, nan, nan, nan, 26.2, 34.3, 38.3, 41.6, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 26.5, 35.7, 42.3, 47.6, 51.8, 24.8, 32.1, 38.5, 44.2, 48.3, 27.9, 36, 41.8, 45.8, 32.5, nan, nan, nan, nan, nan, 26, 27.8, 35.1, 40.9, 45.6, 49.3, 25.6, 24.8, 26.6, nan, nan, nan, nan, nan, 28.6, 36.3, 42.8, 47.5, 51.8, 27, 34.9, 41.4, 45.8, 49.8, nan, nan, nan, nan, nan, nan, nan, nan, 22, 29.5, 36.8, 46, 22.9, 30.8, 37.8, 41.8, 47.6, 24.4, 26.7, 33.3]

In [191]:
def try_cast_float(item: str):
    try:
        return float(item)
    except ValueError:
        return float('nan')

### replace string items on nan in object attributes
for o_attribute in object_attributes:
    for i in range(len(dict_df[o_attribute])):
        item = dict_df[o_attribute][i]

        if isinstance(item, str):
            dict_df[o_attribute][i] = try_cast_float(item)

print(dict_df[object_attributes[1]])

[31.7, 37.6, 42.8, 46.2, 49.4, 38.8, nan, nan, nan, nan, nan, nan, nan, nan, 27.2, 34.6, 41.2, 43.7, 49.2, 37.4, 14, 21, 35, 34, 38, nan, nan, 90.3, 95.5, 103.6, 106.8, 110.2, nan, nan, 32, 36, nan, nan, nan, nan, nan, 33, 38.5, 42.9, 47.9, 51, nan, nan, 26, 37.9, 48.6, 52, 25.6, 33.4, 40.7, 45, 50.7, 22, 35, 41, 48, 50, 29, 35.8, 40.9, 45.2, 34.3, 38.5, nan, 22.6, 29.4, 43.3, 46.5, 51.9, 28.1, 35.7, 41.9, 46.4, 50.7, 47.7, nan, nan, nan, nan, 26.1, 33.4, 39.2, 43.7, 47.8, 26.6, 34.3, nan, 44.8, 48.1, 32.4, 38.6, 42.7, 46.9, nan, nan, nan, nan, nan, nan, nan, 26.2, 34.3, 38.3, 41.6, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 26.5, 35.7, 42.3, 47.6, 51.8, 24.8, 32.1, 38.5, 44.2, 48.3, 27.9, 36, 41.8, 45.8, 32.5, nan, nan, nan, nan, nan, 26, 27.8, 35.1, 40.9, 45.6, 49.3, 25.6, 24.8, 26.6, nan, nan, nan, nan, nan, 28.6, 36.3, 42.8, 47.5, 51.8, 27, 34.9, 41.4, 45.8, 49.8, nan, nan, nan, nan, nan, nan, nan, nan, 22, 29.5, 36.8, 46, 22.9, 30.8, 37.8, 41.8, 47.6, 24.4, 26.7, 33.3]

### Save cleared dataframe

In [192]:
cleared_df = pd.DataFrame.from_dict(dict_df)
cleared_df

,номер,дата,Глубина манометра,Dшт,Руст,Рзаб,Pлин,Рлин,Туст,Тна шлейфе,...,Рпл. Тек (послед точка на КВД),Рпл. Тек (Расчет по КВД),Рпл. Тек (Карноухов),Pсб,Ro_g,Ro_c,Ro_w,Удельная плотность газа,G_total,КГФ
0,804,2008-06-05,3576.3,7.94,249.0,359.6,101.800000,101.800000,53.0,31.7,...,45.25000,56.5,NaN,92.376018,0.806017,801.0,1000.0,0.669449,2.782623,0.311909
1,804,2008-06-06,3576.3,9.53,231.0,338.1,101.300000,102.400000,58.8,37.6,...,45.25000,56.5,NaN,91.685171,0.806017,801.0,1000.0,0.669449,3.697781,0.288600
2,804,2008-06-07,3576.3,11.11,211.0,314.8,101.600000,100.600000,63.6,42.8,...,45.25000,56.5,NaN,90.204787,0.806017,801.0,1000.0,0.669449,4.515073,0.248791
3,804,2008-06-08,3576.3,12.70,187.0,291.5,98.400000,99.000000,64.7,46.2,...,45.25000,56.5,NaN,88.033555,0.806017,801.0,1000.0,0.669449,5.217673,0.223559
4,804,2008-06-09,3576.3,14.29,169.0,270.3,99.200000,99.500000,64.0,49.4,...,45.25000,56.5,NaN,88.527017,0.806017,801.0,1000.0,0.669449,5.765092,0.215149
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
180,22505,2009-09-23,3678.0,12.70,179.0,258.6,93.255111,92.702141,55.6,41.8,...,36.96000,60.9,60.8,88.527017,NaN,NaN,NaN,NaN,NaN,NaN
181,22505,2009-09-27,3678.0,14.29,153.0,233.5,96.472143,100.060417,56.7,47.6,...,36.96000,60.9,60.8,86.158401,NaN,NaN,NaN,NaN,NaN,NaN
182,22505,2010-04-09,3679.5,7.94,208.0,289.6,91.131226,91.304642,47.0,24.4,...,38.65317,64.1,61.3,87.046632,NaN,NaN,NaN,NaN,NaN,NaN
183,22505,2010-04-14,3679.5,9.53,201.0,275.3,91.173008,91.616821,48.9,26.7,...,38.65317,64.1,61.3,87.342709,NaN,NaN,NaN,NaN,NaN,NaN
184,22505,2010-04-17,3679.5,11.11,184.0,255.0,91.530262,89.507935,53.5,33.3,...,38.65317,64.1,61.3,88.625709,NaN,NaN,NaN,NaN,NaN,NaN

In [112]:
cleared_df.dtypes

номер                                      int64
дата                              datetime64[ns]
Глубина манометра                        float64
Dшт                                      float64
Руст                                     float64
Рзаб                                     float64
Pлин                                     float64
Рлин                                     float64
Туст                                     float64
Тна шлейфе                               float64
Тзаб                                     float64
Tлин                                     float64
Дебит газа                               float64
Дебит ст. конд.                          float64
Дебит воды                               float64
Дебит смеси                              float64
Дебит гааз                               float64
Дебит кон нестабильный                   float64
Нэф                                      float64
Рпл. Тек (послед точка на КВД)           float64
Рпл. Тек (Расчет по КВД)                 float64
Рпл. Тек (Карноухов)                     float64
Pсб                                      float64
Ro_g                                     float64
Ro_c                                     float64
Ro_w                                     float64
Удельная плотность газа                  float64
G_total                                  float64
КГФ                                      float64
dtype: object

In [194]:
cleared_df.to_excel(output_file_name, index=False)