In [2]:
import pandas as pd

In [8]:
# read from csv
df = pd.read_csv("../data_sets/example.csv")

In [9]:
# write as csv
df.to_csv("../data_sets/example_output.csv")

In [10]:
# write as csv
df.to_csv("../data_sets/example_output_.csv", index=False)

In [11]:
pd.read_csv("../data_sets/example_output.csv")

   Unnamed: 0   a   b   c   d
0           0   0   1   2   3
1           1   4   5   6   7
2           2   8   9  10  11
3           3  12  13  14  15

In [12]:
pd.read_csv("../data_sets/example_output_.csv")

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [41]:
!pip install xlrd
!pip install openpyxl
!pip install lxml
!pip install html5lib
!pip install BeautifulSoup4
!pip install sqlalchemy

Requirement already satisfied: xlrd in c:\python\lib\site-packages (2.0.1)

WARNING: You are using pip version 22.0.2; however, version 22.0.3 is available.
You should consider upgrading via the 'c:\python\python.exe -m pip install --upgrade pip' command.

Requirement already satisfied: openpyxl in c:\python\lib\site-packages (3.0.9)
Requirement already satisfied: et-xmlfile in c:\python\lib\site-packages (from openpyxl) (1.1.0)

WARNING: You are using pip version 22.0.2; however, version 22.0.3 is available.
You should consider upgrading via the 'c:\python\python.exe -m pip install --upgrade pip' command.

Requirement already satisfied: lxml in c:\python\lib\site-packages (4.7.1)

WARNING: You are using pip version 22.0.2; however, version 22.0.3 is available.
You should consider upgrading via the 'c:\python\python.exe -m pip install --upgrade pip' command.

Collecting html5lib
  Downloading html5lib-1.1-py2.py3-none-any.whl (112 kB)
     ------------------------------------ 112.2/112.2 KB 653.4 kB/s eta 0:00:00
Requirement already satisfied: webencodings in c:\python\lib\site-packages (from html5lib) (0.5.1)
Requirement already satisfied: six>=1.9 in c:\python\lib\site-packages (from html5lib) (1.14.0)
Installing collected packages: html5lib
Successfully installed html5lib-1.1

WARNING: You are using pip version 22.0.2; however, version 22.0.3 is available.
You should consider upgrading via the 'c:\python\python.exe -m pip install --upgrade pip' command.

Collecting BeautifulSoup4

WARNING: You are using pip version 22.0.2; however, version 22.0.3 is available.
You should consider upgrading via the 'c:\python\python.exe -m pip install --upgrade pip' command.

  Downloading beautifulsoup4-4.10.0-py3-none-any.whl (97 kB)
     -------------------------------------- 97.4/97.4 KB 622.6 kB/s eta 0:00:00
Collecting soupsieve>1.2
  Downloading soupsieve-2.3.1-py3-none-any.whl (37 kB)
Installing collected packages: soupsieve, BeautifulSoup4
Successfully installed BeautifulSoup4-4.10.0 soupsieve-2.3.1
Collecting sqlalchemy

WARNING: You are using pip version 22.0.2; however, version 22.0.3 is available.
You should consider upgrading via the 'c:\python\python.exe -m pip install --upgrade pip' command.

  Downloading SQLAlchemy-1.4.31-cp38-cp38-win32.whl (1.5 MB)
     ---------------------------------------- 1.5/1.5 MB 3.1 MB/s eta 0:00:00
Collecting greenlet!=0.4.17
  Downloading greenlet-1.1.2-cp38-cp38-win32.whl (98 kB)
     ---------------------------------------- 98.6/98.6 KB 5.5 MB/s eta 0:00:00
Installing collected packages: greenlet, sqlalchemy
Successfully installed greenlet-1.1.2 sqlalchemy-1.4.31

In [14]:
# read excel
df = pd.read_excel("../data_sets/Excel_Sample.xlsx")
df.drop(df.columns[0], axis=1, inplace=True)
df

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [15]:
# write to excel
df.to_excel("../data_sets/Excel_Sample1.xlsx")

In [5]:
# read html page (returns list of data frames)
data = pd.read_html("https://www.fdic.gov/resources/resolutions/bank-failures/failed-bank-list/")
data[0]

,Bank NameBank,CityCity,StateSt,CertCert,Acquiring InstitutionAI,Closing DateClosing,FundFund
0,Almena State Bank,Almena,KS,15426,Equity Bank,"October 23, 2020",10538
1,First City Bank of Florida,Fort Walton Beach,FL,16748,"United Fidelity Bank, fsb","October 16, 2020",10537
2,The First State Bank,Barboursville,WV,14361,"MVB Bank, Inc.","April 3, 2020",10536
3,Ericson State Bank,Ericson,NE,18265,Farmers and Merchants Bank,"February 14, 2020",10535
4,City National Bank of New Jersey,Newark,NJ,21111,Industrial Bank,"November 1, 2019",10534
...,...,...,...,...,...,...,...
558,"Superior Bank, FSB",Hinsdale,IL,32646,"Superior Federal, FSB","July 27, 2001",6004
559,Malta National Bank,Malta,OH,6629,North Valley Bank,"May 3, 2001",4648
560,First Alliance Bank & Trust Co.,Manchester,NH,34264,Southern New Hampshire Bank & Trust,"February 2, 2001",4647
561,National State Bank of Metropolis,Metropolis,IL,3815,Banterra Bank of Marion,"December 14, 2000",4646
562,Bank of Honolulu,Honolulu,HI,21029,Bank of the Orient,"October 13, 2000",4645

In [17]:
# convert df to sql table
from sqlalchemy import create_engine
engine = create_engine('sqlite:///:memory:')
df.to_sql('my_table', engine)

In [18]:
# read sql table
sql_df = pd.read_sql('my_table', con=engine)
sql_df

   index   a   b   c   d
0      0   0   1   2   3
1      1   4   5   6   7
2      2   8   9  10  11
3      3  12  13  14  15