<a href="https://colab.research.google.com/github/myPar/ML/blob/master/tools/missing_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Missing data

In [1]:
import numpy as np
import pandas as pd
from numpy.random import randn

In [6]:
# drop nan values
df = pd.DataFrame(randn(5,4), index=[1,2,3,4,5], columns=['A', 'B', 'C', 'D'])
df['A'][3] = np.nan
df['D'][4] = np.nan
df

          A         B         C         D
1 -0.960401 -0.506770 -0.021688 -0.515348
2 -0.640302 -0.543574 -0.292399 -0.804242
3       NaN -2.213193 -0.516732  1.918430
4 -0.258418 -0.390278  0.253050       NaN
5  0.423165  2.772461 -0.201285  1.969505

In [9]:
# drop all rows with nan
df.dropna()

          A         B         C         D
1 -0.960401 -0.506770 -0.021688 -0.515348
2 -0.640302 -0.543574 -0.292399 -0.804242
5  0.423165  2.772461 -0.201285  1.969505

In [10]:
# drop all columns with nan
df.dropna(axis=1)

          B         C
1 -0.506770 -0.021688
2 -0.543574 -0.292399
3 -2.213193 -0.516732
4 -0.390278  0.253050
5  2.772461 -0.201285

In [11]:
# threshold using
df['D'][1] = np.nan
df

          A         B         C         D
1 -0.960401 -0.506770 -0.021688       NaN
2 -0.640302 -0.543574 -0.292399 -0.804242
3       NaN -2.213193 -0.516732  1.918430
4 -0.258418 -0.390278  0.253050       NaN
5  0.423165  2.772461 -0.201285  1.969505

In [13]:
df.dropna(axis=1, thresh=4)

          A         B         C
1 -0.960401 -0.506770 -0.021688
2 -0.640302 -0.543574 -0.292399
3       NaN -2.213193 -0.516732
4 -0.258418 -0.390278  0.253050
5  0.423165  2.772461 -0.201285

In [14]:
# fill nan values
df.fillna(value=1)

          A         B         C         D
1 -0.960401 -0.506770 -0.021688  1.000000
2 -0.640302 -0.543574 -0.292399 -0.804242
3  1.000000 -2.213193 -0.516732  1.918430
4 -0.258418 -0.390278  0.253050  1.000000
5  0.423165  2.772461 -0.201285  1.969505

In [17]:
# fill nan by function of items
df['D'].fillna(value=df['D'].mean(), inplace=True)
df

          A         B         C         D
1 -0.960401 -0.506770 -0.021688  1.027898
2 -0.640302 -0.543574 -0.292399 -0.804242
3       NaN -2.213193 -0.516732  1.918430
4 -0.258418 -0.390278  0.253050  1.027898
5  0.423165  2.772461 -0.201285  1.969505