<a href="https://colab.research.google.com/github/myPar/ML/blob/master/tools/pandas_operations.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Operations overview**

In [2]:
import pandas as pd

In [3]:
data = {'col1': [1,2,3,4], 'col2': ['aaa', 'bbb', 'ccc', 'ddd'], 'col3':[123, 433, 591, 151]}
df = pd.DataFrame(data)
df

   col1 col2  col3
0     1  aaa   123
1     2  bbb   433
2     3  ccc   591
3     4  ddd   151

In [4]:
# quick overview of data frame
df.head()

   col1 col2  col3
0     1  aaa   123
1     2  bbb   433
2     3  ccc   591
3     4  ddd   151

In [5]:
df['col1'].nunique()

4

In [6]:
df['col2'].value_counts()

aaa    1
bbb    1
ccc    1
ddd    1
Name: col2, dtype: int64

In [7]:
# apply function to items
times2 = lambda x: 2*x
df['col3'].apply(times2)

0     246
1     866
2    1182
3     302
Name: col3, dtype: int64

In [8]:
# drop column
df.drop('col1', axis=1)

  col2  col3
0  aaa   123
1  bbb   433
2  ccc   591
3  ddd   151

In [9]:
df.index

RangeIndex(start=0, stop=4, step=1)

In [10]:
df.sort_values('col3')

   col1 col2  col3
0     1  aaa   123
3     4  ddd   151
1     2  bbb   433
2     3  ccc   591

In [11]:
df.isnull()

    col1   col2   col3
0  False  False  False
1  False  False  False
2  False  False  False
3  False  False  False

In [13]:
# pivot method
data = {'A':['aaa', 'aaa', 'aaa', 'bbb', 'bbb', 'bbb'], 
        'B':['one', 'one', 'two', 'two', 'one', 'one'],
        'C':['x', 'y', 'x', 'y', 'x', 'y'],
        'D':[1,3,2,5,4,1]}
df = pd.DataFrame(data)  
df

     A    B  C  D
0  aaa  one  x  1
1  aaa  one  y  3
2  aaa  two  x  2
3  bbb  two  y  5
4  bbb  one  x  4
5  bbb  one  y  1

In [15]:
df.pivot_table(values='D', index=['A', 'B'], columns=['C'])

C          x    y
A   B
aaa one  1.0  3.0
    two  2.0  NaN
bbb one  4.0  1.0
    two  NaN  5.0