<a href="https://colab.research.google.com/github/myPar/ML/blob/master/tools/pandas_dataframes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np
import pandas as pd
from numpy.random import randn

In [26]:
df = pd.DataFrame(randn(5,4), index=[1,2,3,4,5], columns=["A", 'B', 'C', 'D'])
df

          A         B         C         D
1  0.105048  0.220935 -1.131862  0.568563
2 -1.047578 -0.889535  0.805539  2.580148
3  1.213756  0.807304 -1.438369  0.634142
4  0.085874 -0.630730 -0.671911  0.014601
5 -0.357447  0.366281  0.008588 -0.409860

In [8]:
df["A"]

1   -0.174765
2   -0.665382
3    0.004216
4    0.765318
5    0.138012
Name: A, dtype: float64

In [9]:
df[['A', 'C']]

          A         C
1 -0.174765 -0.479957
2 -0.665382  1.653975
3  0.004216 -1.174962
4  0.765318 -1.614131
5  0.138012  0.511733

In [27]:
# reset the existing column or create a new one
print(df)
df['A'] = df['A'] + df['B']
print(df)

          A         B         C         D
1  0.105048  0.220935 -1.131862  0.568563
2 -1.047578 -0.889535  0.805539  2.580148
3  1.213756  0.807304 -1.438369  0.634142
4  0.085874 -0.630730 -0.671911  0.014601
5 -0.357447  0.366281  0.008588 -0.409860
          A         B         C         D
1  0.325984  0.220935 -1.131862  0.568563
2 -1.937114 -0.889535  0.805539  2.580148
3  2.021060  0.807304 -1.438369  0.634142
4 -0.544856 -0.630730 -0.671911  0.014601
5  0.008834  0.366281  0.008588 -0.409860

In [28]:
# remove column from existing df (inplace=True)
df.drop('A',axis=1, inplace=True)
df

          B         C         D
1  0.220935 -1.131862  0.568563
2 -0.889535  0.805539  2.580148
3  0.807304 -1.438369  0.634142
4 -0.630730 -0.671911  0.014601
5  0.366281  0.008588 -0.409860

In [29]:
df.drop(5, inplace=True)
df

          B         C         D
1  0.220935 -1.131862  0.568563
2 -0.889535  0.805539  2.580148
3  0.807304 -1.438369  0.634142
4 -0.630730 -0.671911  0.014601

In [30]:
# select rows
df.loc[4]

B   -0.630730
C   -0.671911
D    0.014601
Name: 4, dtype: float64

In [31]:
df.iloc[0]

B    0.220935
C   -1.131862
D    0.568563
Name: 1, dtype: float64

In [34]:
# select set of rows and columns
df.loc[1, 'B']

0.22093545329555353

In [35]:
df.loc[[1, 2], ['B', 'C']]

          B         C
1  0.220935 -1.131862
2 -0.889535  0.805539

Conditional selection

In [38]:
df > 0

       B      C     D
1   True  False  True
2  False   True  True
3   True  False  True
4  False  False  True

In [40]:
bool_df = df > 0
# mask on original df
df[bool_df]

          B         C         D
1  0.220935       NaN  0.568563
2       NaN  0.805539  2.580148
3  0.807304       NaN  0.634142
4       NaN       NaN  0.014601

In [41]:
# not satisfying the condition rows are removed
df[df['B'] > 0]

          B         C         D
1  0.220935 -1.131862  0.568563
3  0.807304 -1.438369  0.634142

In [43]:
# new data frame
df = pd.DataFrame(randn(5,6), index=[1,2,3,4,5], columns=["A", 'B', 'C', 'D', 'E', 'F'])
df

          A         B         C         D         E         F
1 -2.457058  0.399160  0.071878  1.157796 -0.095148  0.308381
2 -0.434057 -0.855281  0.401488 -0.548161 -0.644585  0.639433
3  0.618203 -0.303445  0.954456 -1.991869  0.041835  0.661780
4  1.237234  0.416634 -0.210577  0.659712 -0.511487  0.010672
5 -2.224704 -0.116245  0.705150 -0.368532 -0.055354 -1.275223

In [46]:
# multiple conditions
df[(df['A'] > 0) & (df['D'] > 0)]

          A         B         C         D         E         F
4  1.237234  0.416634 -0.210577  0.659712 -0.511487  0.010672

In [47]:
df[(df['A'] > 0) | (df['D'] > 0)]

          A         B         C         D         E         F
1 -2.457058  0.399160  0.071878  1.157796 -0.095148  0.308381
3  0.618203 -0.303445  0.954456 -1.991869  0.041835  0.661780
4  1.237234  0.416634 -0.210577  0.659712 -0.511487  0.010672

indexies

In [48]:
# adding default index and set old as a column
df.reset_index()

   index         A         B         C         D         E         F
0      1 -2.457058  0.399160  0.071878  1.157796 -0.095148  0.308381
1      2 -0.434057 -0.855281  0.401488 -0.548161 -0.644585  0.639433
2      3  0.618203 -0.303445  0.954456 -1.991869  0.041835  0.661780
3      4  1.237234  0.416634 -0.210577  0.659712 -0.511487  0.010672
4      5 -2.224704 -0.116245  0.705150 -0.368532 -0.055354 -1.275223

In [49]:
# avoid adding old indexies as a column
df.reset_index(drop=True)

          A         B         C         D         E         F
0 -2.457058  0.399160  0.071878  1.157796 -0.095148  0.308381
1 -0.434057 -0.855281  0.401488 -0.548161 -0.644585  0.639433
2  0.618203 -0.303445  0.954456 -1.991869  0.041835  0.661780
3  1.237234  0.416634 -0.210577  0.659712 -0.511487  0.010672
4 -2.224704 -0.116245  0.705150 -0.368532 -0.055354 -1.275223

In [51]:
df["keys"] = ['a', 'b', 'c', 'd', 'e']
df

          A         B         C         D         E         F keys
1 -2.457058  0.399160  0.071878  1.157796 -0.095148  0.308381    a
2 -0.434057 -0.855281  0.401488 -0.548161 -0.644585  0.639433    b
3  0.618203 -0.303445  0.954456 -1.991869  0.041835  0.661780    c
4  1.237234  0.416634 -0.210577  0.659712 -0.511487  0.010672    d
5 -2.224704 -0.116245  0.705150 -0.368532 -0.055354 -1.275223    e

In [55]:
# set indexies using existing column
df.set_index("keys")

             A         B         C         D         E         F
keys
a    -2.457058  0.399160  0.071878  1.157796 -0.095148  0.308381
b    -0.434057 -0.855281  0.401488 -0.548161 -0.644585  0.639433
c     0.618203 -0.303445  0.954456 -1.991869  0.041835  0.661780
d     1.237234  0.416634 -0.210577  0.659712 -0.511487  0.010672
e    -2.224704 -0.116245  0.705150 -0.368532 -0.055354 -1.275223

index levels

In [59]:
outer_index = ['A', 'A', 'A', 'B', 'B', 'B']
inner_index = [1,2,3,1,2,3]
hier_index = list(zip(outer_index, inner_index))
hier_index

[('A', 1), ('A', 2), ('A', 3), ('B', 1), ('B', 2), ('B', 3)]

In [60]:
# create multi-index
hier_index = pd.MultiIndex.from_tuples(hier_index)
hier_index

MultiIndex([('A', 1),
            ('A', 2),
            ('A', 3),
            ('B', 1),
            ('B', 2),
            ('B', 3)],
           )

In [63]:
df = pd.DataFrame(randn(6, 3), hier_index, ['A', "B", "C"])
df

            A         B         C
A 1 -1.086406  2.016565 -0.702135
  2  0.812487  0.382989  0.107816
  3 -1.013578  1.595915  0.809928
B 1  0.792965  0.894585  0.670424
  2  0.085964 -0.828876  0.619545
  3  1.406119 -1.418923 -0.617568

In [65]:
# access throw multiple index
df.loc['A'].loc[[1, 2]]

          A         B         C
1 -1.086406  2.016565 -0.702135
2  0.812487  0.382989  0.107816

In [67]:
# set index names
df.index.names = ['Group', 'Number']
df

                     A         B         C
Group Number
A     1      -1.086406  2.016565 -0.702135
      2       0.812487  0.382989  0.107816
      3      -1.013578  1.595915  0.809928
B     1       0.792965  0.894585  0.670424
      2       0.085964 -0.828876  0.619545
      3       1.406119 -1.418923 -0.617568

In [69]:
# get value
df.loc['B'].loc[2]['C']

0.6195454390439884

In [70]:
# cross-section
df.xs('A')

               A         B         C
Number
1      -1.086406  2.016565 -0.702135
2       0.812487  0.382989  0.107816
3      -1.013578  1.595915  0.809928

In [71]:
# the same with 'loc'
df.loc['A']

               A         B         C
Number
1      -1.086406  2.016565 -0.702135
2       0.812487  0.382989  0.107816
3      -1.013578  1.595915  0.809928

In [72]:
# get all '1' from all outer indexies
df.xs(1, level='Number')

              A         B         C
Group
A     -1.086406  2.016565 -0.702135
B      0.792965  0.894585  0.670424